@{
    ViewData["Title"] = "Home Page";
}


@foreach (Objeto item in ViewBag.Objeto)
{
            <tr>
                <td>@item.Nombre_Obj</td>
                <td>@item.tipo_objeto</td>
            </tr>
}  