<form id="contact">
<div class="contenedor-inputs">
<input type="email" placeholder="email_US"  name="email" id="email" required/>
<input type="text" placeholder="nombre_US" name="name" id="name" required/>
<input type="text" placeholder="apellido_US" name="name" id="name" required/>
<input type="text" placeholder="nombre_empresa" name="name" id="name" required/>
<textarea placeholder="contraseña" name="password" id="password" required></textarea>
<input type="text" placeholder="fecha_creacion" name="date" id="date" required/>

</div>
<div id="msg"></div>
                        
<button class="btn-submit" id="submit-btn">Enviar</button>
</form>


